# Flask
# flask
# gunicorn
itsdangerous
Jinja2
MarkupSafe
# Werkzeug==0.8.3
numpy
scikit-image
matplotlib
tensorflow-cpu
# opencv-contrib-python-headless
# opencv-python
mysql-connector-python

Flask
gunicorn