# # Flask
# # flask
# # gunicorn
itsdangerous
Jinja2
MarkupSafe
Werkzeug
numpy
scikit-image
matplotlib
tensorflow-cpu==2.2.0
# opencv-contrib-python-headless
# opencv-python
mysql-connector-python
Flask
gunicorn